// 颜色类
$color-primary: #1677ff;
$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #ff4d4f;
$color-text: #272b32;
$color-gray: #888e99;

.color-primary {
	color: $color-primary;
}
.color-success {
	color: $color-success;
}
.color-warning {
	color: $color-warning;
}
.color-error {
	color: $color-error;
}
.color-text {
	color: $color-text;
}
.color-gray {
	color: $color-gray;
}
