/** 第三方ui库样式覆盖 */

.ant-modal {
	/** useModalConfirm 样式 */
	.meo-modal-content {
		.warning {
			margin-top: 10px;
			padding-left: 3em;
			text-indent: -3em;
			font-size: 12px;
			color: $color-error;
			white-space: pre;
		}
	}
}
